:root {

/*Colors*/
  --bg-color: #ffffff;
  --font-color: #000000;
  --separator: #E6E6E6;
  --color-disabled: rgba(0, 0, 0, 0.1);
  --color-accent: #68B738;
  --color-alert: #ff8282;

/*Typography*/
  --font-lato: "Lato", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --ff-default: var(--font-lato), Arial, sans-serif;
  --ff-title: var(--font-oswald), Arial, sans-serif;
  --ff-button: var(--font-oswald), Arial, sans-serif;

  --fz-xxs: 14px;
  --fz-xs: 16px;
  --fz-s: 18px;
  --fz-m: 20px;
  --fz-l: 24px;
  --fz-xl: 30px;
  --fz-xxl: 36px;
  --fz-xxxl: 60px;

/*Animation*/
  --tf-default: ease-out;
  --trans-default: 0.3s var(--tf-default);
  --trans-100: 0.1s var(--tf-default);

  --hover: 0.6;
  --active: 0.3;

/*Viewports*/
  --mobile-width: 320px;
  --tablet-width: 768px;
  --desktop-width: 1440px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #0a0a0a;
    --font-color: #ededed;
    --accent: #ffffff;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--font-color);
  background: var(--bg-color);
  font-family: var(--font-lato), Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
