.text {
	&.h1 {
		font-size: var(--fz-xxxl);
		line-height: var(--fz-xxxl);
		font-family: var(--ff-title);
	}

	&.h2 {
		font-size: var(--fz-xxl);
		line-height: var(--fz-xxl);
		font-family: var(--ff-title);
	}

	&.h3 {
		font-size: var(--fz-xl);
		line-height: var(--fz-xl);
		font-family: var(--ff-title);
	}

	&.h4 {
		font-size: var(--fz-l);
		line-height: var(--fz-l);
		font-family: var(--ff-title);
	}

	&.h5 {
		font-size: var(--fz-m);
		line-height: var(--fz-m);
		font-family: var(--ff-title);
	}

	&.xxs {
		font-size: var(--fz-xxs);
		line-height: var(--fz-xxs);
	}

	&.xs {
		font-size: var(--fz-xs);
		line-height: var(--fz-xs);
	}

	&.s {
		font-size: var(--fz-s);
		line-height: var(--fz-s);
	}

	&.m {
		font-size: var(--fz-m);
		line-height: var(--fz-m);
	}

	&.l {
		font-size: var(--fz-l);
		line-height: var(--fz-l);
	}

	&.xl {
		font-size: var(--fz-xl);
		line-height: var(--fz-xl);
	}

	&.xxl {
		font-size: var(--fz-xxl);
		line-height: var(--fz-xxl);
	}

	&.xxxl {
		font-size: var(--fz-xxxl);
		line-height: var(--fz-xxxl);
	}

	&.bold {
		font-weight: 700;
	}

	&.semi-bold {
		font-weight: 600;
	}

	&.medium {
		font-weight: 500;
	}

	&&.regular {
		font-weight: 400;
	}

	&.light {
		font-weight: 300;
	}

	&.alert {
		color: var(--color-alert);
	}
	&.action {
		color: var(--color-accent);
	}
}
