.extraProductCard {
  padding: 14px 0 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (width >= 768px) {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.extraProductTitle {
  text-transform: uppercase;
}

.extraProductInfo {
  display: flex;
  font-family: var(--ff-default);
  font-size: var(--fz-xxs);
  color: var(--color-font-second);
  justify-content: space-between;
  justify-self: end;
  gap: 50px;
}

.btn {
  grid-column: 1/3;
}
