# Порт Express-сервера (бэкенд)
SERVER_PORT="3001"

# URL API-сервера для запросов с фронтенда (должен совпадать с SERVER_PORT)
NEXT_PUBLIC_API_URL="http://localhost:3001"

# API-ключ Яндекс Карт (получить на https://developer.tech.yandex.ru/)
NEXT_PUBLIC_YMAPS_API_KEY="[YOUR-API-KEY]"
