# URL подключения к PostgreSQL через connection pooling (PgBouncer)
# Используется для обычных запросов в production
DATABASE_URL="postgresql://postgres.[PROJECT-REF]:[YOUR-PASSWORD]@aws-1-eu-north-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# URL прямого подключения к PostgreSQL (без пулинга)
# Используется для миграций Prisma (prisma migrate)
DIRECT_URL="postgresql://postgres.[PROJECT-REF]:[YOUR-PASSWORD]@aws-1-eu-north-1.pooler.supabase.com:5432/postgres"
