.page {
  font-family: var(--font-lato), Arial, sans-serif;
  background-color: var(--bg-color);
}

.main {
  width: 100%;
  background-color: var(--bg-color);
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
