.link {
	text-decoration: underline;
	color: var(--color-font);
	font-weight: 400;
	transition: color var(--trans-default);

	&_withIcon {
		text-decoration: none;
		display: flex;
		gap: 8px;
	}
	&:hover,
	&:focus {
		color: var(--color-accent);
	}
	&:active {
		color: var(--color-accent);
	}
}

.link-size {
	&_xs {
		font-size: var(--fz-xs);
		line-height: var(--fz-xs);
	}
	&_m {
		font-size: var(--fz-m);
		line-height: var(--fz-m);
	}
}

.nowrap {
	white-space: nowrap;
}
